<!DOCTYPE html>
<html>

<head>
  <title>Interface de Connexion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
  <div class="container">
    <div class="card">
      <h2>Connexion</h2>
      <form>
        <div class="input-container">
          <i class="fa fa-envelope icon icones"></i>
          <input type="email" placeholder="Adresse e-mail" [(ngModel)]="email" name="email" required>
          <div class="error-message" *ngIf="mailNotMatch">email incorrect</div>
        </div>
        <div class="input-container">
          <i class="fa fa-lock icon icones"></i>
          <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Mot de passe" [(ngModel)]="password" name="password" required>
          <div class="password-toggle" (click)="togglePasswordVisibility()">
            <i class="fa password-toggle" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
          </div>
          <div class="error-message " *ngIf="passNotMatch">Mot de passe incorrect</div>
        </div>
        
        
        <button type="submit" (click)="login()">Se connecter</button>
      </form>
    </div>
  </div>
</body>

</html>
