<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="bon-livraison.component.css" />
  </head>
</html>
<body>
  <div class="container">
    <div class="left-word">
      <pre><h2><pre>    

                 Sté Moderne    
             d'Equipement de Péche
              <h5>                   Port de Péche Zarzouna
                      7021 Bizerte
                   MF:1114549 X/N/M/000
              </h5>
    </pre></h2></pre>
    </div>
    <div class="center-photo">
      <img src="../../../assets/barre-est-volant-du-navire_74689-10-removebg-preview.png" alt="Votre photo" />
    </div>
    <div class="right-word">
      <h2>
        <pre>


          
الشركة العصرية
لمعدات الصيد  
      <h5>
Tel: 97 512 419</h5></pre>
      </h2>
    </div>
  </div>
  <div id="printBonLivraison" class="printBonLivraison">
    <h2 *ngIf="commande.type === 'Facture'">Facture</h2>
    <h2 *ngIf="commande.type === 'Bon de Livraison'">Bon de Livraison</h2>
    <h2 *ngIf="commande.type === 'Devis'">Devis</h2>
    <br>
    <br />
    <div style="margin-bottom: 5%">
      <div class="client-info">
        <h4>Informations du client :</h4>
        <p>
          Nom : <span id="clientName"> {{ commande.client.nom }}</span>
        </p>
        <p>
          Adresse :
          <span id="clientAddress"> {{ commande.client.adresse }}</span>
        </p>
        <p>
          Téléphone :
          <span id="clientPhone"> {{ commande.client.telephone }}</span>
        </p>
        <p>
          MF :
          <span id="clientPhone"> {{ commande.client.mf }}</span>
        </p>
      </div>
      <br>
      <br />
      <div class="invoice-info">
        <h4>N° :</h4>
        <p>
          <span id="invoiceNumber"> {{ commande.num }}</span>
        </p>
        <br />
        <h4>Type :</h4>
        <p>
          <span id="invoiceType"> {{ commande.type }}</span>
        </p>
        <br />
        <h4>Date :</h4>
        <p>
          <span id="invoiceType"> {{ commande.date }}</span>
        </p>
      </div>
    </div>
    <table class="tableArticles">
      <thead>
        <tr>
          <th>Référence</th>
          <th>Désignation</th>
          <th>Prix de vente</th>
          <th>Quantité</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="invoiceItems">
        <!-- Boucle pour afficher les articles -->
        <tr *ngFor="let item of commande?.articles">
          <td>{{ item.reference }}</td>
          <td>{{ item.designation }}</td>
          <td>{{ item.prixVente }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.total }}</td>
        </tr>
      </tbody>
    </table>

    <div class="total-info">
      <div *ngIf="typeCmdFacture">
        <h4>Arrétée la présente facture à la somme de :</h4><br>
        <p style="text-align: left;">{{commande.somme}}hjhjjhhjjh</p>
      </div>
      <div *ngIf="typeCmdBonLivraison" class="infoLivraison" >
      
        <h4>Chauffeur  :   {{commande.chauffeur}}</h4>
        <br>
        <h4>Matricule Camion  :   {{commande.matriculeCamion}}</h4>
        
      </div>
      <table class="small-table">
        <tbody>
          <tr>
            <td><h4>Total :</h4></td>
            <td>
              <p>
                <span id="totalAmount">{{ commande.TotalMontant }}</span>
              </p>
            </td>
          </tr>
          <tr>
            <td><h4>TVA :</h4></td>
            <td>
              <p>
                <span id="tvaAmount">{{ commande.TVA }}</span>
              </p>
            </td>
          </tr>
          <tr *ngIf="typeCmdFacture">
            <td><h4>Timbre fiscal :</h4></td>
            <td>
              <p>
                <span id="timbreFiscal">{{ commande.timbreFiscal }}</span>
              </p>
            </td>
          </tr>
          <tr>
            <td><h4>Total TTC :</h4></td>
            <td>
              <p>
                <span id="totalTTC">{{ commande.totalNetTTC }}</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>

    <button class="prec-button" id="precButton" routerLink="/imprimer-commande">
      Précedent
    </button>
    <button class="print-button" id="printButton" (click)="printPage()">
      Imprimer
    </button>
    <P class="signature">Signature</P>
  </div>
</body>
